{% extends 'layout.html' %}

{% block content %}

{% load static %}

<div>

    <form action="" method="post" onsubmit="console.log('h')">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {{form.as_p}}

        <button>Submit</button>
    </form>
</div>
<script src="{% static 'js.js' %}"></script>
{% endblock %}